/* here to place your scss code and must import in index.ts file */

html {
  font-size: 13px;
}

// Your variable overrides
$theme-colors: (
  "primary":   #2780E3,
  "secondary": #1f2021,
  "success":    #2f8912,
  "info":      #7e3f9d,
  // "warning":    $warning,
  "danger":     #cc002e,
  // "light":      $light,
  // "dark":       $dark
);

$border-radius:               2px !default;
$border-radius-lg:            4px !default;
$border-radius-sm:            1px !default;


// Bootstrap and its default variables
@import "./node_modules/bootstrap/scss/bootstrap";